.sort-menu {
  position: relative;
  display: inline-block;
}

.sort-button {
  padding: 4px 20px 4px 12px;
  cursor: pointer;
  background: var(--color-bg1);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--color-text3);
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: var(--radius-full);
  color: var(--color-text1);
  font-weight: 700;
}

.sort-button:hover {
  background: var(--color-bg1-selected);
}

.sort-menu-list {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;

  width: 180px;
  margin: 0;
  padding: 8px 8px;

  list-style: none;
  background: var(--color-bg1);
  border: 1px solid var(--color-text3);
  border-radius: var(--radius-md);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sort-menu-list li {
  padding: 4px 12px;
  border-radius: calc(var(--radius-md) - 4px);
  cursor: pointer;
  font-weight: 700;
  color: var(--color-text1);
}

.sort-menu-list li:hover {
  background: var(--color-bg1-selected);
}

.sort-menu-list li.active {
  background: var(--color-bg1-selected);
}